<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../../css/communal.css">
  <link rel="stylesheet" href="../../css/new_project.css">
</head>
<body>
<div class="table-div">
  <div class="add-project-div">
    <table  class="table-style" id="newProjectTable">
      <thead>
      <tr><th colspan="2" style="text-align: center">项目编辑</th></tr>
      </thead>
      <tbody>
      <tr>
        <td>项目名称：<input type="text" id="projectName"></td>
        <td>项目编号：<input type="text" id="projectNumber"></td>
      </tr>
      <tr>
        <td>项目经理：<input type="text" id="managerInput"><input type="hidden" id="managerInputHidden"></td>
        <td>项目组成员：<input type="text" id="membersInput"><input type="hidden" id="memberInputHidden"></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: right"><button id="nextBtn">下一步</button></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
</body>
</html>